.related-heading {
    width: 100% !important;
    font-size: 2rem;
}

.category-body {
    background: linear-gradient(217deg, #e6e6e6, #dddfd4 70.71%), linear-gradient(127deg, #3fb0ac, #dddfd4 70.71%), linear-gradient(336deg, #e6e6e6, #173e43 70.71%);
}